.container {
    margin: 0 auto;
    max-width: 900px;
    padding: 15px;
    background: #ddd;
}

.section {
    background-color: white;
    border: 1px solid #ddd;
    margin: 10px;
}

.section__header {
    margin: 0;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

.section__list {
    padding: 10px;
}