html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    background: #ddd;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    padding: 20px;
    word-break: break-word;
}